<ion-header>
  <div class="title-part">
    <div (click)="back()">
      <img src="assets/imgs/backArrow@3x.png" alt="" sizes="" srcset="">
    </div>
    <ion-title>
      修改密码
    </ion-title>
  </div>  
</ion-header>


<ion-content>
  <div class="gray-bar"></div>
  <div class="list-item-container">
    <div class="list-item">
      <div class="text-18px">手机号</div>
      <div class="input-container">
          <input type="text" placeholder="请输入预留手机号">
          <span *ngIf="!showTime" >发送验证码</span>
          <span *ngIf="showTime"> {{time}}s</span>
      </div>
    
    </div>
    <div class="list-item">
      <div  class="text-18px">验证码</div>
      <div class="input-container">
        <input type="text" placeholder="请输入短信验证码">
      </div>
    </div>
    <div class="list-item">
      <div  class="text-18px">新密码</div>
      <div class="input-container" >
        <input type="text" placeholder="请输入6-20位新密码">
      </div>
    </div>
    <div class="confirm">确定</div>
  </div>
  
  
  
  
  
</ion-content>
