dabase-encryption {
  .line{
      padding: 0 1.25rem;
      height: 4.16667rem;
      border-bottom: 1px solid #e0e0e0;
      line-height: 4.16667rem;
      font-size: 1.33333rem;
      color:#666666;
  }
}
