<ion-header>
  <div class="title-part">
    <div (click)="back()">
      <img src="assets/imgs/backArrow@3x.png" alt="" sizes="" srcset="">
    </div>
    <div class="search" (click)="goSearch()">
      <img src="assets/imgs/search.png" alt="">
      <span style="line-height:33px;">请输入材料标题</span>
    </div>
  </div>   
</ion-header>

<ion-content>
 
  <div>
    <div *ngIf="pdfList.length ==0" class="nothing-container"> 
        <div  class="nothing">
          <img src="assets/imgs/nothing.png" alt="">
        </div>
        <p>暂无我的收藏</p>
      </div>
      <div *ngFor="let item of pdfList" style="display: flex;" >
        <div class="flex-container" >
            <div class="first-child">
              <img src="assets/imgs/pdf@3x.png" alt="" sizes="" srcset="">
              <div class="title">
                  {{item.title}}
              </div>
            </div>
            <div class="last-child">法规标号：<span style="color:red">GB1111-1</span><span style="float:right">2018-08-08</span></div>
        </div>
      </div>    
  </div>
</ion-content>

