tree-tempalte {
  .table-style{
    display: table;
  }
  .table-ceil{
    diaplay:table-cell;
  }
  min-width: 270px;
  display: inline-block;
  width: 100%;
  // border-left: 3px dashed #e0e0e0;
  .hideLine-child {
    // border-left: 3px dashed #ffffff !important;
  }
  .panel-item-child {
    padding: 15px 0 0 15px;
    width: 100%;
    //  border-top: 1px solid#e0e0e0;
    min-width:270px;
    display: inline-block;
  }
  .panel-item-row1-child {
    height: 17px;
  }

  .panel-item-row2-child {
    // border-left: 3px dashed #e0e0e0;
    margin-left: 18px;
    padding: 10px 10px 10px 20px;
    margin-bottom: 2px;
    font-size: 14px;
    color: #999;
  }
  .close-open-btn-child {
    width: 17px;
    height: 17px;
    margin: 0 11px;
    float: left;
  }

  .child-panel-child {
    padding-left: 18px;
    min-width: 270px;
    display: inline-block;
    width: 100%;
  }
  .org-name-child {
    display: inline-block;
    float: left;
    line-height: 17px;
    font-size: 17px;
  }
  .view-detail-child {
      float: right;
      background-color: #ff6169;
      line-height: 12px;
      padding: 6px 15px;
      font-size: 12px;
      border-radius: 5px;
      color: #ffffff;
      margin-right: 15px;
  }
}
