img-list-viewer-component {
  .imgList{
    height: 100%;
     width:100%;
     display: inline;
     white-space: nowrap;
     overflow-x:scroll;
     float:left;
     overflow-y:hidden
  }
  img{
    max-width:30%!important;
    margin:10px 1.5%;
    width:30% !important;
    height: 100%;
    display:inline-block
  }
}
