<div class="sign-pad" #contentEl>

  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>

  <div class="sign-foot">
    <div class="sign-foot-box" (click)="empty()">
      <img src="../../assets/imgs/sign-cancel2.png" alt="">
      <p>撤销</p>
    </div>
    <div class="sign-foot-box" *ngIf="tabStatus" (click)="choosetab(1);">
      <div class="foot-box-op foot-box-op-left" *ngIf="conditionLeft">
        <span *ngFor="let item of arrayNumbers; let i = index" [ngClass]="{'active': statusLeft == i}" (click)="choosePen(1,i,item)"></span>
      </div>
      <img src="../../assets/imgs/sign-pen2.png" alt="">
      <p>画笔大小</p>
    </div>
    <div class="sign-foot-box" *ngIf="tabStatus" (click)="choosetab(2);">
      <div class="foot-box-op foot-box-op-right" *ngIf="conditionRight">
        <span *ngFor="let item of arrayColors; let i = index" [ngStyle]="{'background-color':item}" [ngClass]="{'active': statusRight == i}" (click)="choosePen(2,i,item)"></span>
      </div>
      <img src="../../assets/imgs/sign-color2.png" alt="">
      <p>画笔颜色</p>
    </div>
    <div class="sign-foot-box" (click)="save()">
      <img src="../../assets/imgs/sign-save2.png" alt="">
      <p>上传签名</p>
    </div>
  </div>
  
</div>