<div class="sign-pad" #contentEl>

  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>

  <div class="sign-foot">
    <div class="sign-foot-box" (click)="empty()">
      <img src="../../assets/imgs/sign-cancel2.png" alt="">
      <p>撤销</p>
    </div>
    <div class="sign-foot-box">
        <!-- *ngIf="conditionLeft" -->
      <div class="foot-box-op foot-box-op-left" >
        <span *ngFor="let i of forNumber; let i = index" [ngClass]="{'active': statusLeft === index}" (click)="choosePen(i)"></span>
      </div>
      <img src="../../assets/imgs/sign-pen2.png" alt="">
      <p>画笔大小</p>
    </div>
    <div class="sign-foot-box">
      <div class="foot-box-op foot-box-op-right" *ngIf="conditionRight">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <img src="../../assets/imgs/sign-color2.png" alt="">
      <p>画笔颜色</p>
    </div>
    <div class="sign-foot-box" (click)="save()">
      <img src="../../assets/imgs/sign-save2.png" alt="">
      <p>上传签名</p>
    </div>
  </div>
  
</div>