page-index {
    ion-header {
        background-color: #c7000b;
        padding: 5px 10px 5px 10px;
        height:42px;
        ion-title{
         padding-right: 39px;
        }
    }
    .title-part {
       background-color: #c7000b;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          width: 3rem;
          height: 3rem;
        }
    }
    .scroll-content{
      margin-top: 0px!important;
    }
    .background{
        width: 100%;
        height: rem(100);
        background-color: $colorDeep;
        .side-img{
            margin: 0 auto;
            width: 94%;
            .tab-nav{
                margin-top: 15px;
            
                // display: grid;
                // grid-template-columns: auto auto auto;
                // grid-template-rows: auto;
                // grid-column-gap: 4px;
                // grid-row-gap: 4px;
                .tab{
                  width:33.333%;
                  padding-left:1rem;
                  float: left;
                  margin-bottom:1rem;
                }
                .tab:nth-child(1) {
                 padding-left:0rem;
                }
                .tab:nth-child(4) {
                  padding-left: 0rem;
                }
                 .tab:nth-child(7) {
                   padding-left: 0rem;
                 }
                .nav-box{
                    background-color: #fff;
                    
                    text-align: center;
                    padding: 22px 0;
                    img{
                        width: rem(50);
                        height: rem(50);
                    }
                    p{
                        margin: 0;
                        font-size: rem(16);
                    }
                }
            }
        }
    }
    .side-menu{
        .mash{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 11;
            background-color: rgba($color: #000000, $alpha: 0.55);
            opacity: 0;
        }
        .side-menu-box{
            width:65%;
            background-color: #fff;
            position: fixed;
            top: 0;
            bottom:0;
            transform: translateX(-100%) translateZ(0px) translateY(0px);
            will-change: transform, -webkit-transform;
            z-index: 12;
            .head-box{
                position: relative;
                .bgimg{
                    height: 150px;
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }
                .logo-box{
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    margin-left: -25px;
                    text-align: center;
                    img{
                        width: 50px;
                        height: 50px;
                    }
                    p{
                        margin: 5px 0 0;
                        color: #fff;
                        font-size: 12px;
                    }
                }
            }
            .list-box{
                .item{
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    border-bottom: 1px solid #e6e6e6;
                    ion-icon{
                        line-height: 47px;
                        font-size: 2.4rem;
                    }
                    p{
                        margin-left: 8px;
                    }
                }
            }
        }
        &.side-menu-active{
            .side-menu-box{
                transform: translateX(0px) translateZ(0px) translateY(0px);
                transition-duration: 280ms;
                transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            }
            .mash{
                opacity: 1;
                transition-duration: 280ms;
                transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            }
        }
        &.side-menu-out{
            .side-menu-box{
                transform: translateX(-100%) translateZ(0px) translateY(0px);
                transition-duration: 280ms;
                transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            }
            .mash{
                opacity: 0;
                transition-duration: 280ms;
                transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
            }
        }
    }
}
