<!-- Generated template for the SelectComponent component -->
<div class="select-box">
  <div class="select1" #select1>
    <div class="mask" (click)="close()" [hidden]="!select1Show"></div>
    <div class="select1-box" [hidden]="!select1Show">
        <h5>{{title}}</h5>
        <ul>
          <li *ngFor="let item of data" [ngClass]="{'active': item.id === status}" (click)="choseItem(item.id, item.title)">
            <span>{{item.title}}</span>
            <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
          </li>
        </ul>
    </div>
  </div>
  <div class="select2">
    <div class="select2-box">
      <ul>
        <li *ngFor="let item of data" [ngClass]="{'active': item.id === status}" (click)="choseItem(item.id, item.title)">
          <span>{{item.title}}</span>
        </li>
      </ul>
  </div>
  </div>
</div>

