<!-- Generated template for the SelectComponent component -->
<div class="select-wrapper">
  <div class="select-tab">
    <div class="tab-box" 
    *ngFor="let items of data; let tabIndex = index" 
    (click)="open(tabIndex)" 
    [ngClass]="{'active': tabStatus === tabIndex}">
      <span>{{items.tabName}}</span>
    </div>
  </div>
  <div class="select" 
  *ngFor="let item of data; let menuIndex = index" 
  [ngClass]="{'side-menu-active': tabStatus === menuIndex, 'side-menu-out': tabStatus !== menuIndex}">
    <div class="mask" (click)="close(menuIndex)" [hidden]="tabStatus !== menuIndex"></div>
    <div [ngClass]="{'select1-box': type === 'modal', 'select2-box': type === 'card'}" [hidden]="tabStatus !== menuIndex">
        <h5 *ngIf="menuType === 'modal'" >{{title}}</h5>
        <ul>
          <li *ngFor="let i of item.itemData" [ngClass]="{'active': i.id === status}" (click)="choseItem(i.id, i.title)">
            <span>{{i.title}}</span>
            <ion-icon *ngIf="menuType === 'modal'" name="ios-checkmark-circle-outline"></ion-icon>
          </li>
        </ul>
    </div>
  </div>
</div>

