select-component {
    .select-tab{
        background-color: $colorDeep;
        display: flex;
        justify-content: space-around;
        .tab-box{
            color: #fff;
            margin: 5px 0;
            padding: 5px 16px;
            border-radius: 15px;
            background-color: transparent;
            &.active{
                color: $colorTopic;
                background-color: #fff;
            }
        }
    }
    @-webkit-keyframes num {
        to {
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
            opacity: 1
        }
    }
    
    @keyframes num {
        to {
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
            opacity: 1
        }
    }
    
    @-webkit-keyframes num-move {
        to {
            opacity: 0
        }
    }
    
    @keyframes num-move {
        to {
            opacity: 0
        }
    }
    .select{
        &.side-menu-active{
            .select1-box, .select2-box{
                -webkit-animation: num .3s ease-in-out 0s 1 alternate forwards;
                animation: num .3s ease-in-out 0s 1 alternate forwards
            }
            .mask{
                opacity: 1;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s
            }
        }
        &.side-menu-out{
            .select1-box, .select2-box{
                -webkit-animation: num-move .3s ease-in-out 0s 1 alternate forwards;
                animation: num-move .3s ease-in-out 0s 1 alternate forwards
            }
            .mask{
                opacity: 0;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s
            }
        }
        .mask{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 85px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 11;
            background-color: rgba($color: #000000, $alpha: 0.55)
        }
        .select1-box{
            width: 80%;
            background-color: #fff;
            position: fixed;
            top: 30%;
            left: 50%;
            margin-left: -40%;
            border-radius: 8px;
            z-index: 12;
            h5{
                margin-bottom: 0;
                text-align: center;
                font-size: 16px;
                padding: 0 40px;
                @include ellipsis(1);
            }
            ul{
                margin: 15px 0;
                padding: 0 15px;
                height: 233px;
                overflow: auto;
                li{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 9px 3px;
                    border-bottom: 1px solid #e6e6e6;
                    border-top: 1px solid transparent;
                    span{
                        display: inline-block;
                        margin-right: 10px;
                    }
                    &:last-child{
                        border-bottom:1px solid transparent;
                        padding-bottom: 0;
                    }
                    ion-icon{
                        font-weight: 700;
                        font-size: 18px;
                        color: $colorTopic;
                        display: none;
                    }
                    &.active {
                        span{
                            color: $colorTopic;
                        }
                        ion-icon{
                            display: block;
                        }
                    }
                }
            }
        }
        .select2-box{
            width: 100%;
            background-color: #fff;
            position: absolute;
            top: 56px;
            left: 0;
            z-index: 12;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 9px 12px;
                    border-bottom: 1px solid #e6e6e6;
                    border-top: 1px solid transparent;
                    span{
                        display: inline-block;
                        margin-right: 10px;
                    }
                    &:last-child{
                        border-bottom:1px solid transparent;
                    }
                    &.active {
                        span{
                            color: $colorTopic;
                        }
                    }
                }
            }
        }
    }
}
