.popover-content-zxj {
  .popover-content{
  border-radius: 0;
  max-height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  transform-origin: left top 0px;
  top:0!important;
  left:0 !important;
  }
}
check-find-add{


  .footer-ios .toolbar-background-ios{
    border-color: #FF4D56;
    background-color: #FF4D56;
  }
  ion-datetime{
    .item-cover{
    width: 0;
    height: 0;
    }
  }
  .gray-bar{
    width: 100%;
    height: 0.6rem;
    background-color: #faf9f2;
  }
   ion-content {
     background-color: #ffffff !important;
   }
   
   ion-header {
     background-color: #c7000b;
     padding: 5px 10px 5px 10px;
     ion-title{
      padding-right: 39px;
     }
   }
  //title
  .title-part {
    display: flex;
    flex-direction: row;
    img {
      width: 3rem;
      height: 3rem;
    }
  }


  .part-title{
    padding: 1rem 1.4rem;
    border-bottom: 0.02rem solid #E6E6E6;
    height: 4rem;
    .red-sider{
      width: 0.3rem;
      height: 1.5rem;
      float: left;
      background-color: #FF4D56;
      margin: 0.25rem 1.5rem 0.25rem 0;
    }
    .title{
      font-size: 1.5rem;
       float: left;
    }
   
  }

  .basic-detail{
    padding: 0 1.4rem 1.4rem 1.4rem;
  }
  .detail-item-1{
    min-height: 3.5rem;
    border-bottom: 0.02rem solid #E6E6E6;
    font-size: 1.35rem;
    line-height: 3.5rem
  }
  .noborder{
    border-bottom: 0px;
  }
  .gray-text{
    color: #666666;
   
  }
  .margin-bottom-12{
    margin-bottom: 1rem;
  }
  .gray-paragraph{
    line-height: 2rem;
  }
  .right-paragraph{
    width: 70%;
    margin: -2.8rem 0 0 30%;
  }
  .right-text{
 float: right;
  }

  .question-item{
    padding: 1rem 1.4rem ;
    display: flex;
    border-bottom: 0.02rem solid #E6E6E6;
     .name{
      min-width: 6rem;
      text-align: center;
      transform:translateY(50%);
      margin-top:-2rem;
     }
  }
  .imgContainer{
    margin-right:1rem;
    width: 3rem;
    transform:translateY(50%);
    margin-top: -3rem;
    img{
      width: 3rem;
      max-width: 3rem;
      
    }
  }

.discribe{
  position: relative;
  textarea{
  background-color: #efefef;
  border: 0px;
  padding: 0.5rem 1rem 1.5rem 1rem;
  width: 100%;
  height: 12rem;
  }
  span{
    z-index: 99999;
    color: #a1a1a1;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 1.2rem;
  }
}

  .tabContainer{
    width: 100%;
     height: 4rem;
    .tab-item{
      width: 50%;
      float:left;
      height: 4rem;
      .tab{
      height: 4rem; 
      text-align: center;
      span{
        padding: 0.5rem 0.8rem;
        line-height: 4rem;
        border-bottom: 2px solid white;
        color:#666666;
      }
      .active-tab{
           border-bottom: 2px solid #FF4D56;
      }
      }

    }
  }


  upload-img-video-file{
    width: 2rem;
    height: 2rem;
     .uploadBtn{
       background-color: white!important;
       img{
        margin: 0;
        width: 100%;
        height: 100%;
       }
     }
  }
  .disable-btn{
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
  }
  .media-btn{
    margin-left: 1rem;
  }
  .imgList {
    height: 8rem;
    width: 100%;
    display: inline;
    white-space: nowrap;
    overflow-x: scroll;
    float: left;
    overflow-y: hidden;
    padding: 1rem 0 0 0.5rem;
    img {
      width: 7rem;
      height: 7rem;
      margin-right:0.7rem;
      margin-bottom:0.3rem;
    }
  }

  .img-warpper{
    position: relative;
    display: inline-block;
    .delete{
      position: absolute;
      width: 1.5rem;
      height:1.5rem;
      border-radius:50%;
      top: -0.5rem;
      left: -0.5rem;
    }
  }
  .video-wrapper{
    position: relative;
    margin-left: 0.5rem;
    .delete {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      top: -0.5rem;
      left: -0.5rem;
    }
  }
  
}
