<ion-content>
  <div class="title-part">
    <div (click)="back()">
      <img src="assets/imgs/backArrow@3x.png" alt="" sizes="" srcset="">
    </div>
    <div class="search" (click)="goSearch()">
      <img src="assets/imgs/search.png" alt="">
      <span style="line-height:33px;">请输入关键字</span>
    </div>
    <!-- <div class="search-input">
      <ion-searchbar mode="ios" placeholder="请输入关键字">
      </ion-searchbar>
    </div> -->
    <div (click)="add()">
      <img src="assets/imgs/add@3x.png" alt="" sizes="" srcset="">
    </div>
  </div>
  
  <div class="tabs-container">
    <div class="tab"><span [ngClass]="{'active-tab-span': activeTab == '0'}" (click)="switchTab('0')">我的发现</span></div>
    <div class="tab"><span [ngClass]="{'active-tab-span': activeTab == '1'}" (click)="switchTab('1')">离线上传</span></div>
  </div>
  <div *ngIf="activeTab == '0'">
    <div *ngIf="dataList.length ==0" class="nothing-container"> 
      <div  class="nothing">
        <img src="assets/imgs/nothing.png" alt="">
      </div>
      <p>暂无我的发现</p>
    </div>
    <div *ngFor="let item of dataList"  (click)="goDetail()">
      <div class="flex-container" >
          <div class="first-child">
            <div class="red-sider"></div>
            <div>
              <div  class="title" style="margin-left:15px">
                 {{item.title}}
              </div>
               
                <span class="question">问题</span>
            </div>
          </div>
          <div class="last-child">{{item.summary}}</div>
          <div>
              <div class="property " style="border-right: 1px solid #E6E6E6;">问题性质：<span class="level">{{item.level}}</span></div>
              <div class="property ">限改日期：<span>{{item.lastTime}}</span></div>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeTab == '1'">
    <div *ngIf="dataList.length ==0" class="nothing-container"> 
      <div  class="nothing">
        <img src="assets/imgs/nothing.png" alt="">
      </div>
      <p>暂无离线数据</p>
    </div>
    <div *ngFor="let item of dataList"  >
      <div class="flex-container" >
          <div class="first-child">
            <img src="assets/imgs/noSelected.png"  *ngIf="!item.select" (click)="select(item)">
            <img src="assets/imgs/select.png"  *ngIf="item.select"  (click)="select(item)">
            <div>
              <div  class="title">
                 {{item.title}}
              </div>
               
                <span class="question">问题</span>
            </div>
          </div>
          <div class="last-child">{{item.summary}}</div>
          <div>
              <div class="property " style="border-right: 1px solid #E6E6E656;">问题性质：<span class="level">{{item.level}}</span></div>
              <div class="property ">限改日期：<span>{{item.lastTime}}</span></div>
          </div>
      </div>
    </div>
  </div>
  

  
  
</ion-content>
<ion-footer *ngIf="activeTab == '1'">
 <div class="footer-btn footer-btn-1">
   <div *ngIf="showAllSelect">
     <img src="assets/imgs/noSelected.png"  (click)="selectAll(dataList,true)">
     <span>全选</span>
   </div>
   <div  *ngIf="!showAllSelect">
     <img src="assets/imgs/select.png"  (click)="selectAll(dataList,false)">
     <span>全选</span>
   </div>
   
 </div>
 <div class="footer-btn footer-btn-2" [ngClass]="{'disableupload': dataList.length==0}">
   <span>上传</span> ({{totalUpload}})
  
 </div>
</ion-footer>
