<!-- Generated template for the ComponentExampleComponent component -->
<div style=" min-height: 450px!important;position: relative">
<p class="waterMark" *ngIf="option.watermark==true && option.watermarkType =='text'" [hidden]="loader">{{option.watermarkTextOrUrl}}</p>
<img class="waterMark" src="{{option.watermarkTextOrUrl}}" alt="" *ngIf="option.watermark==true && option.watermarkType =='img'"
  style="width: 10%;"
  [hidden]="loader">
  <div class="spinner" [hidden]="!loader" style="position: absolute;left: 48%">
    <div class="spinner-container container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>
  <div style="position:relative;padding:10px 20px 10px 30px;">
    <ion-searchbar mode="ios" placeholder="请输入关键字"   [(ngModel)]="keyword" (ionChange)="search(keyword)" >
    </ion-searchbar>
    <div class="download-btn"  (click)="download()">
      <img src="assets/imgs/download.png" alt="" sizes="" srcset="">
    </div>

  </div>
  <pdf-viewer [src]="option.pdfSrc" [render-text]="true" style="display: block;max-height:450px;overflow-y: scroll" [autoresize]="true" [show-all]="true" [page]="1" [original-size]="false" (after-load-complete)="complete($event)" >
  </pdf-viewer>
</div>

