// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header-ios, .footer-ios {
    .toolbar-background-ios{
        border-style: solid;
        border-color: #c7000b;
        background: #c7000b;
    }
    .toolbar-title-ios {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        pointer-events: auto;
    }
}
.content-ios {
    color: #000;
    background-color: #faf9f2;
}
ion-content {
  background-color: #ffffff !important;
}
$colorDeep: #C7000B;
$colorTopic: #ff4d56;
$colorTitle: #40a6ff;
$colorLine: #e6e6e6;
@mixin ellipsis($num){
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
}
 
// .tip{ 
//     .toast-message{
//         color: var(--ion-text-color-step-150,#262626);
//     }
//     .toast-wrapper {
//         background: var(--ion-background-color-step-50,#7d7d7d);
//     }
// }

