<!--
  Generated template for the PageExamplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{componentTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
<!-- 图片懒加载 -->
<div *ngIf="componentTitle =='图片列表懒加载组件'" class="center">
    <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
        Amet tempor excepteur occaecat nulla.
      </p>
      <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
          Amet tempor excepteur occaecat nulla.
        </p>
        <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
            Amet tempor excepteur occaecat nulla.
          </p>
          <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
              Amet tempor excepteur occaecat nulla.
            </p>
            <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
                Amet tempor excepteur occaecat nulla.
              </p>
              <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
                  Amet tempor excepteur occaecat nulla.
                </p>
                <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
                    Amet tempor excepteur occaecat nulla.
                  </p>
                  <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
                      Amet tempor excepteur occaecat nulla.
                    </p>
                    <p class="foo" snInViewport (inViewportChange)="onInViewportChange($event)" style="width:100%;height:200px;border:1px solid">
                        Amet tempor excepteur occaecat nulla.
                      </p>

  <!-- <div style="width:100%;height:200px;border:1px solid" snInViewport (inViewportChange)="onInViewportChange($event)">
    
    <img-lazyLoad [src]="'https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg'"></img-lazyLoad>
  </div>
  <div style="width:100%;height:200px;border:1px solid" snInViewport (inViewportChange)="onInViewportChange($event)">

    <img-lazyLoad [src]="'https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg'"></img-lazyLoad>
  </div>
  <div style="width:100%;height:200px;border:1px solid" snInViewport (inViewportChange)="onInViewportChange($event)">

    <img-lazyLoad [src]="'https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg'"></img-lazyLoad>
  </div>
  <div style="width:100%;height:200px;border:1px solid" snInViewport (inViewportChange)="onInViewportChange($event)">

    <img-lazyLoad [src]="'https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg'"></img-lazyLoad>
  </div>
  <div style="width:100%;height:200px;border:1px solid" snInViewport (inViewportChange)="onInViewportChange($event)">

    <img-lazyLoad [src]="'https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg'"></img-lazyLoad>
  </div>
  <div style="width:100%;height:200px;border:1px solid" snInViewport (inViewportChange)="onInViewportChange($event)">
    <img-lazyLoad [src]="'https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg'"></img-lazyLoad>
  </div> -->
</div>



<!-- 文件上传 -->
<div *ngIf="componentTitle =='附件上传下载组件(附件压缩传输组件)'" class="center">
  file：
  <upload-img-video-file [serverUrl]="''" [type]="'file'" (successUpload)="successUpload($event)" (failedUpload)="failedUpload($event)"></upload-img-video-file>

 img-camera：
<upload-img-video-file [serverUrl]="''" [type]="'img'" [source]="'camera'" [opacity]="'50'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>

img-picker
<upload-img-video-file [serverUrl]="''" [type]="'img'" [source]="'imgPicker'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>

img-select
<upload-img-video-file [serverUrl]="''" [type]="'img'" [source]="'selectSource'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>

video-camera:(不能打开摄像头)
<upload-img-video-file [serverUrl]="''" [type]="'video'" [source]="'camera'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>

video-picker
<upload-img-video-file [serverUrl]="''" [type]="'video'" [source]="'imgPicker'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>


video-select
<upload-img-video-file [serverUrl]="''" [type]="'video'" [source]="'selectSource'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>
</div>





<!-- 组织机构树 -->
<div *ngIf="componentTitle =='组织机构树'">
<tree-data [nodes]="nodes" [targetPage]="'PageExamplePage'" [paramaName]="'qweasd'" [btnText]="'点我切换'"></tree-data>
</div>






 
<div *ngIf="componentTitle =='相册图片查看器'" class="center">
  <!-- 轮播图 -->
  <div style="width:100%;height:240px">
    <slides-component [slidesList]="imgList1" [pagers]="true"></slides-component>
  </div>
  <!-- 图片查看 -->
  <div style="width:100%;height:100px">
    <img-list-viewer-component [imgList]="imgList2"></img-list-viewer-component>
  </div>
</div>



<!-- 视频播放 -->
<div *ngIf="componentTitle =='视频播放器'" class="center" style="height:211px">

  <videoPlayer-component [videoSrc]="'http://static.videogular.com/assets/videos/videogular.mp4'" [loop]="true" [watermark]="true"
  [watermarkType]="'img'" [watermarkTextOrUrl]="'https://t10.baidu.com/it/u=442769412,4197463608&fm=76'"></videoPlayer-component>
</div>


<div *ngIf="componentTitle =='图表组件'" style="margin-top: 68px;">
  <!-- 饼图 -->
  <div >
    <echart-tag [option]="optionPie" [watermark]="true" [watermarkType]="'img'" [watermarkTextOrUrl]="'https://t10.baidu.com/it/u=442769412,4197463608&fm=76'"></echart-tag>
  </div>



  <!-- 柱状图 -->

  <div >
    <echart-tag [option]="optionBar" [watermark]="true" [watermarkType]="'img'" [watermarkTextOrUrl]="'https://t10.baidu.com/it/u=442769412,4197463608&fm=76'"></echart-tag>
  </div>


  <!-- 折线图 -->

  <div >
    <echart-tag [option]="optionLine" [watermark]="true" [watermarkType]="'img'" [watermarkTextOrUrl]="'https://t10.baidu.com/it/u=442769412,4197463608&fm=76'"></echart-tag>
  </div>
</div>




<!-- pdf文件查看 -->
<div *ngIf="componentTitle =='pdf文档阅读器'" style="margin: 100px 10px 0 10px;">
<pdf-reader [pdfSrc]="pdfSrc" [watermark]="true" [watermarkType]="'text'" [watermarkTextOrUrl]="'sunfield'"></pdf-reader>
</div>







</ion-content>



