<!--
  Generated template for the PageExamplePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{componentTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
<!-- 图片懒加载 -->
<div *ngIf="componentTitle =='图片懒加载'" class="center">
  <div style="width:100%;height:200px">
    <img-lazyLoad [src]="'https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg'" [default]="'assets/imgs/img-lazyLoad.jpg'"></img-lazyLoad>
  </div>
</div>


<!-- 文件上传 -->
<div *ngIf="componentTitle =='附件上传'" class="center">
  file：
  <upload-img-video-file [serverUrl]="''" [type]="'file'" (successUpload)="successUpload($event)" (failedUpload)="failedUpload($event)"></upload-img-video-file>

 img-camera：
<upload-img-video-file [serverUrl]="''" [type]="'img'" [source]="'camera'" [opacity]="'50'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>

img-picker
<upload-img-video-file [serverUrl]="''" [type]="'img'" [source]="'imgPicker'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>

img-select
<upload-img-video-file [serverUrl]="''" [type]="'img'" [source]="'selectSource'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>

video-camera:(不能打开摄像头)
<upload-img-video-file [serverUrl]="''" [type]="'video'" [source]="'camera'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>

video-picker
<upload-img-video-file [serverUrl]="''" [type]="'video'" [source]="'imgPicker'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>


video-select
<upload-img-video-file [serverUrl]="''" [type]="'video'" [source]="'selectSource'" [opacity]="'100'" (successUpload)="successUpload($event)"
  (failedUpload)="failedUpload($event)"></upload-img-video-file>
</div>





<!-- 组织机构树 -->
<div *ngIf="componentTitle =='组织架构'" class="center">
  <tree-data></tree-data>
</div>






 <!-- 轮播图 -->
<div *ngIf="componentTitle =='轮播图'" class="center">
  <div style="width:100%;height:240px">
    <slides-component [slidesList]="imgList1" [pagers]="false"></slides-component>
  </div>
</div>




<!-- 视频播放 -->
<div *ngIf="componentTitle =='视频播放'" class="center">

  <div style="height:200px">
    <videoPlayer-component [videoSrc]="'http://static.videogular.com/assets/videos/videogular.mp4'" [loop]="true" [watermark]="true"
  [watermarkType]="'img'" [watermarkTextOrUrl]="'https://t10.baidu.com/it/u=442769412,4197463608&fm=76'"></videoPlayer-component>
  </div>
</div>


<div *ngIf="componentTitle =='echart图表'" class="center">
  <!-- 饼图 -->
  <div style="width: 100%;height: 30px;line-height: 30px;text-align: center;margin: 10px 0;background-color: #55b0af;">饼图</div>
  <div style="width:70%;height:500px">
    <echart-tag [option]="optionPie" [watermark]="true" [watermarkType]="'img'" [watermarkTextOrUrl]="'https://t10.baidu.com/it/u=442769412,4197463608&fm=76'"></echart-tag>
  </div>



  <!-- 柱状图 -->
  <div style="width: 100%;height: 30px;line-height: 30px;text-align: center;margin: 10px 0;background-color: #55b0af;">柱状图</div>
  <div style="width:100%;height:240px">
    <echart-tag [option]="optionBar" [watermark]="true" [watermarkType]="'img'" [watermarkTextOrUrl]="'https://t10.baidu.com/it/u=442769412,4197463608&fm=76'"></echart-tag>
  </div>


  <!-- 折线图 -->
  <div style="width: 100%;height: 30px;line-height: 30px;text-align: center;margin: 10px 0;background-color: #55b0af;">折线图</div>
  <div style="width:90%;height:400px">
    <echart-tag [option]="optionLine" [watermark]="true" [watermarkType]="'img'" [watermarkTextOrUrl]="'https://t10.baidu.com/it/u=442769412,4197463608&fm=76'"></echart-tag>
  </div>
</div>




<!-- pdf文件查看 -->
<div *ngIf="componentTitle =='pdf文件查看'" style="margin: 100px 10px 0 10px;">
  <pdf-reader [pdfSrc]="pdfSrc" ></pdf-reader>
</div>



<!-- 图片查看 -->
<div *ngIf="componentTitle =='图片查看'" class="center">
  <div style="width:100%;height:100px">
    <img-list-viewer-component [imgList]="imgList2"></img-list-viewer-component>
  </div>
</div>



</ion-content>



