
<div class="tree-container">
<div class="panel-item" *ngFor="let item of option.nodes">
    <div class="panel-item-row1">
      <div class="red-bar"></div>
      <img src="assets/imgs/close-root@3x.png" alt="" (click)="switchChildren(item)" class="close-open-btn" *ngIf="item.showChild && item.children != undefiend &&item.children.length > 0">
      <img src="assets/imgs/open-root@3x.png" alt="" (click)="switchChildren(item)" class="close-open-btn" *ngIf="!item.showChild && item.children != undefiend &&item.children.length > 0">
      <img src="assets/imgs/noChild@3x.png" alt="" class="close-open-btn" *ngIf="item.children == undefiend || item.children.length == 0 ">
      <div class="org-name">{{item.name}}</div>
      <div class="view-detail" (click)="option.clickFn(item)" *ngIf="item.children == undefiend || item.children.length == 0 " ><span *ngIf="option.btnText != undefined">{{option.btnText}}</span></div>

    </div>
    <div class="panel-item-row2" >
      {{item.bindText}}
    </div>

    <div *ngIf="item.showChild && item.children != undefiend &&item.children.length > 0 " class="child-panel">
      <div *ngFor="let child of item.children">
         <tree-tempalte [child]="child"  [btnText]="option.btnText" [bindText]="option.bindText" [clickFn]="option.clickFn"></tree-tempalte>
      </div>
    </div>
  </div>
</div>


