tree-data{
  overflow-x: auto;
  display: inline-block;
  width:100%;
  .tree-container{
    display: inline-block;
    min-width: 100%;
  }
  
  .hideLine{
    border-left: 3px dashed #ffffff!important;
  }
  .panel-item{
    padding: 15px 0 0 15px;
    width:100%;
    border-bottom:1px solid#e0e0e0 ;
  }
   .panel-item-row1{
     height: 25px;
   }
   .panel-item-row2 {
    border-left: 3px dashed #e0e0e0;
    margin-left: 25px;
    padding: 10px 10px 10px 20px;
    margin-bottom: 2px;
    font-size: 14px;
    color: #999;
   }
  .red-bar{
    background-color: #ff6169;
    display:inline-block;
    width:4px;
    height: 20px;
    margin: 2px 0;
    float: left;

  }
  .close-open-btn{
    width: 25px;
    height:25px;
    margin: 0 10px;
    float: left;
  }
  .child-panel{
    // margin-left: 25px;
    // border-left: 3px dashed #e0e0e0;
    padding-left: 25px;
    display: inline-block;
    width:100%;
  }
  .org-name{
     display: inline-block;
     float: left;
     line-height: 25px;
     font-size: 20px;
  }
  .view-detail{
    float: right;
    height: 100%;
    background-color: #ff6169;
    line-height: 25px;
    padding: 0 15px;
    border-radius: 5px;
    color: #ffffff;
    margin-right: 15px;
  }
  
}