<ion-header>
  <ion-navbar>
    <ion-title>{{componentTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <page-sample-signaturepad *ngIf="componentType === 'SampleSignaturepad'" [signpadOptions]='signpadOptionsValue' (signImgUrl)="onsignImgUrl($event)"></page-sample-signaturepad>
    
    <component-map *ngIf="componentType === 'ComponentMapComponent'" [markers]="markers"></component-map>

    <ioninfinite-scroll *ngIf="componentType === 'InfiniteScrollComponent'"></ioninfinite-scroll>
    
    
    
    <div  *ngIf="componentType === 'SideMenuSelectComponent'" style="text-align: center;margin-top: 50px;">
        <button ion-button shape="round" style="width: 65%;" color="secondary" fill="outline" (click)="openmodal('side')">预览</button>
    </div>

    <!-- <div *ngIf="componentType === 'SelectComponent'" style="text-align: center">
      <button ion-button shape="round" size="small" color="secondary" fill="outline" (click)="openmodal(1)">样式1</button>
      <button ion-button shape="round" size="small" color="secondary" fill="outline" (click)="openmodal(2)">样式2</button>
      <div style="position: relative;">
        
      </div>
    </div> -->
    <select-component *ngIf="componentType === 'SelectMenuTopComponent'"  [data]="selectDataMore" [title]="selectTitle" [type]="menutype" (onChange)="selectChange($event)"></select-component>
    <select-component *ngIf="componentType === 'SelectMenuBottomComponent'"  [data]="selectDataMore" [title]="selectTitle" [type]="menutype" (onChange)="selectChange($event)"></select-component>

</ion-content>
<side-menu-select *ngIf="componentType === 'SideMenuSelectComponent'" [data]="selectData" #sidemenuselect (onChange)="selectChange($event)"></side-menu-select>
