<!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
    <ion-icon name="heart"></ion-icon>
    </ion-infinite-scroll-content>
</ion-infinite-scroll> -->
<ion-list>
    <ion-item *ngFor="let i of items">{{i}}</ion-item>
  </ion-list>
 
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>