slides-component {
    width:100%;
    display: block;
    clear: both;
    height: 100%;
   ion-slides,
   ion-slide,
   .slide-zoom,
   .sildeContainer,
   img {
   width:100.1%!important;
   display: block;
   clear: both;
   height: 100%!important;
   }
.swiper-pagination-bullet-active{
  background:#C7000B;
}
}
