<!-- Generated template for the ComponentExampleComponent component -->
<ion-slides pager="true" loop="true" autoplay="3000" autoplayDisableOnInteration="false" *ngIf="option.pagers == true">
<ion-slide *ngFor="let slide of option.slidesList">
    <img src="{{slide}}" alt="">
  </ion-slide>
</ion-slides>

<ion-slides pager="false" loop="true" autoplay="3000" autoplayDisableOnInteration="false" *ngIf="option.pagers == false">
<ion-slide *ngFor="let slide of option.slidesList">
    <img src="{{slide}}" alt="">
  </ion-slide>
</ion-slides>


