<div class="side-menu" [ngClass]="{'side-menu-active': showMenu, 'side-menu-out': !showMenu}">
  <div class="mash" (click)="close()" [hidden]="showMask"></div>
  <div class="side-menu-box" [hidden]="showMask" [ngStyle]="{'width':widths}">
    <h5>{{titles}}</h5>
    <ul>
      <li *ngFor="let item of data; let i = index" [ngClass]="{'active': item.id === status}" (click)="chooseItem(item.id, item.title)">
        <span>{{i+1}}.{{item.title}}</span>
        <!-- <ion-radio [checked]="item.id === status" color="danger" (click)="chooseItem(item.id, item.title)"></ion-radio> -->
        <ion-icon class="iconh" [hidden]="item.id === status" name="radio-button-off"></ion-icon>
        <ion-icon class="icons" [hidden]="item.id !== status" name="radio-button-on"></ion-icon>
      </li>
    </ul>
  </div>
</div>