departmentTree {
   ion-content {
     background-color: #ffffff !important;
   }
   
   ion-header {
     background-color: #c7000b;
     padding: 5px 10px 5px 10px;
     ion-title{
      padding-right: 39px;
     }
   }
   .fixed-content,
   .scroll-content{
     margin-top: 5rem!important;
   }

.title-part {
  display: flex;
  flex-direction: row;

  img {
    width: 3rem;
    height: 3rem;
  }
}
}
